#Database configuration
DB_HOST=localhost
DB_PORT=5438
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=crypto_tracker


#Timeout & Retry Settings
REQUEST_TIMEOUT=10
MAX_RETRIES=3


# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_RECEIVER=receiver@gmail.com

